aside ul {list-style: none}

body {
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
}

header {
   background: blue;
}

main {
  /* Чтобы занимал оставшееся пространство */
  flex-grow: 1;
  background: white;
}

footer {
  /* Чтобы footer не уменьшался */
  flex-shrink: 0;
  background: black;
}



